[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim
	ignore = untracked
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/proxict/ale.git
	ignore = untracked
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	ignore = untracked
[submodule "bundle/lightline-buffer"]
	path = bundle/lightline-buffer
	url = https://github.com/taohexxx/lightline-buffer.git
	ignore = untracked
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
	ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "bundle/papercolor-theme"]
	path = bundle/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
	ignore = untracked
[submodule "bundle/suda.vim"]
	path = bundle/suda.vim
	url = https://github.com/lambdalisue/suda.vim.git
	ignore = untracked
[submodule "bundle/vim-clang-format"]
	path = bundle/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
	ignore = untracked
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
	ignore = untracked
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	ignore = untracked
[submodule "bundle/vim-wordmotion"]
	path = bundle/vim-wordmotion
	url = https://github.com/chaoren/vim-wordmotion.git
	ignore = untracked
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/vim-rustfmt"]
	path = bundle/vim-rustfmt
	url = https://github.com/alx741/vim-rustfmt.git
[submodule "bundle/onedark.nvim"]
	path = bundle/onedark.nvim
	url = https://github.com/navarasu/onedark.nvim.git
[submodule "bundle/monokai.nvim"]
	path = bundle/monokai.nvim
	url = https://github.com/tanvirtin/monokai.nvim.git
[submodule "bundle/coc.nvim"]
	path = bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "bundle/vim-illuminate"]
	path = bundle/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate.git
[submodule "bundle/kanagawa.nvim"]
	path = bundle/kanagawa.nvim
	url = https://github.com/rebelot/kanagawa.nvim.git
[submodule "bundle/asyncrun.vim"]
	path = bundle/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "bundle/nvim-treesitter"]
	path = bundle/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "bundle/nvim-tree.lua"]
	path = bundle/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "bundle/telescope.nvim"]
	path = bundle/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "bundle/plenary.nvim"]
	path = bundle/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
