[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim
	ignore = untracked
[submodule "bundle/suda.vim"]
	path = bundle/suda.vim
	url = https://github.com/lambdalisue/suda.vim.git
	ignore = untracked
[submodule "bundle/vim-clang-format"]
	path = bundle/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
	ignore = untracked
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	ignore = untracked
[submodule "bundle/vim-wordmotion"]
	path = bundle/vim-wordmotion
	url = https://github.com/chaoren/vim-wordmotion.git
	ignore = untracked
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/vim-rustfmt"]
	path = bundle/vim-rustfmt
	url = https://github.com/alx741/vim-rustfmt.git
[submodule "bundle/onedark.nvim"]
	path = bundle/onedark.nvim
	url = https://github.com/navarasu/onedark.nvim.git
[submodule "bundle/monokai.nvim"]
	path = bundle/monokai.nvim
	url = https://github.com/tanvirtin/monokai.nvim.git
[submodule "bundle/vim-illuminate"]
	path = bundle/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate.git
[submodule "bundle/kanagawa.nvim"]
	path = bundle/kanagawa.nvim
	url = https://github.com/rebelot/kanagawa.nvim.git
[submodule "bundle/asyncrun.vim"]
	path = bundle/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "bundle/nvim-treesitter"]
	path = bundle/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "bundle/nvim-tree.lua"]
	path = bundle/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "bundle/telescope.nvim"]
	path = bundle/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "bundle/plenary.nvim"]
	path = bundle/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "bundle/nvim-web-devicons"]
	path = bundle/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "bundle/indent-blankline.nvim"]
	path = bundle/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim
[submodule "bundle/treesitter-indent-object.nvim"]
	path = bundle/treesitter-indent-object.nvim
	url = https://github.com/kiyoon/treesitter-indent-object.nvim.git
[submodule "bundle/telescope-fzf-native.nvim"]
	path = bundle/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim.git
[submodule "bundle/cmp-buffer"]
	path = bundle/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule "bundle/cmp-nvim-lsp"]
	path = bundle/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "bundle/cmp-path"]
	path = bundle/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "bundle/nvim-cmp"]
	path = bundle/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "bundle/nvim-lspconfig"]
	path = bundle/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "bundle/trouble.nvim"]
	path = bundle/trouble.nvim
	url = https://github.com/folke/trouble.nvim.git
[submodule "bundle/nvim-echo-diagnostics"]
	path = bundle/nvim-echo-diagnostics
	url = https://github.com/seblj/nvim-echo-diagnostics.git
[submodule "bundle/lualine.nvim"]
	path = bundle/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "bundle/bufferline.nvim"]
	path = bundle/bufferline.nvim
	url = https://github.com/akinsho/bufferline.nvim.git
[submodule "bundle/onedarker.nvim"]
	path = bundle/onedarker.nvim
	url = https://github.com/LunarVim/onedarker.nvim.git
